/*
 *
 * Пятый экран
 * Немного о компании
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.about {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;

  &--styles {
    width: 100%;
    height: ~'calc(100vh - 80px)';
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    .adaptive(@screen-lg; {
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      padding: 100px 12px 0;
    });
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 50%;
    max-width: 45%;
    height: 100%;
    padding: 44px;

    &--max-width-50 {
      max-width: 50%;
    }

    .adaptive(@screen-lg; {
      max-width: 870px;
      padding: 44px 0;
    });
  }

  &__logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    margin-top: 30px;
  }

  &__paragraph {
    width: 100%;
    color: var(--color-dark);

    .ie({
      color: @color-dark;
    });

    & + & {
      margin-top: 20px;
    }

    &--text-align-right {
      text-align: right;
    }

    &--color-font {
      color: var(--color-font);

      .ie({
        color: @color-font;
      })
    }
  }
}