/*
 *
 * Меняющийся полукруг на фоне главной страницы
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.background {
  position: fixed;
  left: -3px;
  top: -3px;

  &--styles {
    width: 50%;
    height: ~'calc(100% - 74px)';
    background-color: var(--color-white-background);
    border: 3px solid var(--color-border);
    border-radius: 0 100vh 100vh 0;
    z-index: 1;
    transition: border-radius @tr-medium, left @tr-medium;
    will-change: border-radius, left;

    .ie({
      background-color: @color-white-background;
      border: 3px solid @color-border;
    });

    .adaptive(@screen-lg; {
      display: none;
    });
  }

  &--right {
    border-radius: 100vh 0 0 100vh;
    left: ~'calc(50% + 3px)';
  }
}