/*
 *
 * Второй экран
 * Заказные торты
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.cakes {
  display: flex;
  position: fixed;
  left: 0; top: 0;

  &--styles {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: ~'calc(100vh - 80px)';
    z-index: 2;

    .adaptive(@screen-lg; {
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      padding: 100px 12px 0;
    });
  }

  &__logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;

    .adaptive(@screen-lg; {
      display: none;
    });
  }

  &__title {
    margin-top: 30px;
  }

  &__description {
    margin-top: 30px;

    &_text {
      text-align: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 65%;

    .adaptive(@screen-lg; {
      order: 1;
      width: 100%;
      height: auto;
    });
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;

    .adaptive(@screen-lg; {
      order: 3;
      height: auto;
    });
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;

    &_img {
      max-height: 80%;
      max-width: 90%;

      .adaptive(@screen-lg; {
        max-height: 100%;
        max-width: 100%;
      });
    }

    .adaptive(@screen-lg; {
      width: 100%;
      height: 70vh;
      order: 2;
      margin: 20px 0;
    });

    .adaptive(@screen-sm; {
      height: 100vw;
    });
  }
}