/*
 *
 * Седьмой экран
 * Контакты
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.contacts {
  position: fixed;
  display: flex;
  left: 0; top: 0;

  &--styles {
    width: 100%;
    height: ~'calc(100vh - 80px)';
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    .adaptive(@screen-lg; {
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      padding: 100px 12px 0;
    });
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 50%;
    max-width: 45%;
    height: 100%;

    &--justify-content-sb {
      justify-content: space-between;
    }

    &--max-width-50 {
      max-width: 50%;

      .adaptive(@screen-lg; {
        max-width: 100%;
      });
    }

    .adaptive(@screen-lg; {
      max-width: 100%;
      width: 100%;
    });
  }

  &__logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    margin-top: 30px;
  }

  &__map {
    flex: 1 0 auto;
    width: 100%;
    height: 40%;
    border: 3px solid var(--color-border);
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 20px;
    overflow: hidden;

    .ie({
      border: 3px solid @color-border;
    });

    .adaptive(@screen-lg; {
      height: 40vh;
      border: 3px solid var(--color-border);
      border-radius: 20px;
      margin: 40px 0;
    });
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &_block {
      display: flex;
      flex-direction: column;
      margin: 0 20px;

      & + & {
        .adaptive(@screen-sm; {
          margin-top: 40px;
        });
      }
    }

    &_wrapper {
      display: flex;
      flex-direction: column;

      & + & {
        margin-top: 20px;
      }
    }

    .adaptive(@screen-lg; {
      align-items: flex-start;
      justify-content: space-around;
    });

    .adaptive(@screen-sm; {
      flex-direction: column;
      justify-content: flex-start;
    });
  }

  &__link {
    color: var(--color-font);

    .ie({
      color: @color-font;
    });

    &:hover {
      text-decoration: underline;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    flex-direction: row;

    &_link {
      width: 35px;
      height: 35px;
      transform: scale3d(1, 1, 1);
      transition: transform @tr-fast;

      & + & {
        margin-left: 10px;
      }

      &:hover {
        transform: scale3d(1.05, 1.05, 1);
      }
    }

    &_img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__form {
    max-width: 500px;
    max-height: 70vh;
    overflow: auto;

    .adaptive(@screen-lg; {
      max-width: 100%;
      max-height: inherit;
      margin: 40px 0;
    });
  }
}