/**
 *
 * Стили главной страницы
 *
*/

@import './../index.less';
@import './../common/form/form.less';
@import './../common/form/input.less';
@import './../common/button.less';
@import './../common/simple-slider.less';
@import './../common/spinner.less';
@import './../common/notify.less';

@import './video.less';
@import './navigate.less';
@import './background.less';
@import './promo.less';
@import './cakes.less';
@import './productions.less';
@import './job.less';
@import './about.less';
@import './reviews.less';
@import './contacts.less';

.js-page-slider-slide {
  opacity: 1;
  visibility: visible;
  transition: opacity @tr-medium, visibility @tr-medium;
}

.js-page-slider-slide--hide {
  opacity: 0;
  visibility: hidden;

  .adaptive(@screen-lg; {
    opacity: 1;
    visibility: visible;
  });
}