/*
 *
 * Четвертый экран
 * Работа в компании
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.job {
  display: flex;
  position: fixed;
  left: 0; top: 0;

  &--styles {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: ~'calc(100vh - 80px)';
    z-index: 2;

    .adaptive(@screen-lg; {
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      padding: 100px 12px 0;
    });
  }

  &__logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    margin-top: 30px;
  }

  &__description {
    margin-top: 30px;
    text-align: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 65%;

    .adaptive(@screen-lg; {
      order: 1;
      width: 100%;
    });
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;

    .adaptive(@screen-lg; {
      order: 3;
    });
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;

    &_slide {
      width: 96%;

      .adaptive(@screen-lg; {
        width: 100%;
      });
    }

    &_img {
      object-fit: contain;
      border-top-left-radius: 55vh;
      border-bottom-left-radius: 55vh;

      .adaptive(@screen-lg; {
        object-fit: cover;
        border-radius: 20px;
      });
    }

    .adaptive(@screen-lg; {
      width: 100%;
      height: 50vh;
      order: 2;
      margin: 40px 0;
    });
  }
}