@import './../common/mixins.less';
@import './../variables.less';

.navigate {
  display: flex;
  position: fixed;
  left: 0; bottom: 0;

  &--styles {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: var(--color-white-background);
    border-top: 3px solid var(--color-border);
    z-index: 100;

    .ie({
      background-color: @color-white-background;
      border-top: 3px solid @color-border;
    });

    .adaptive(@screen-lg; {
      bottom: auto;
      top: 0;
      border-bottom: 3px solid var(--color-border);
      border-top: none;

      .ie({
        border-bottom: 3px solid @color-border;
      })
    });

    .adaptive(@screen-md; {
      height: 50px;
      justify-content: space-between;
      padding: 0 12px;
    });
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    .adaptive(@screen-md; {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 40px;
      position: fixed;
      left: 0; top: 50px;
      background-color: var(--color-white-background);
      opacity: 0;
      visibility: hidden;
      transition: visibility @tr-fast, opacity @tr-fast;

      .ie({
        background-color: var(--color-white-background);
      });
    });

    &--open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__link {
    position: relative;
    color: var(--color-font);
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: var(--color-border);
      transform-origin: left;
      transform: scaleX(0);
      transition: transform @tr-medium;
      will-change: transform;

      .ie({
        background-color: @color-border;
      });
    }

    &--active::before {
      transform: scaleX(1);
    }

    &:hover::before {
      transform: scaleX(1);
    }

    .adaptive(@screen-md; {
      margin-bottom: 20px;
    });
  }

  &__button {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;

    .adaptive(@screen-md; {
      display: flex;
    });

    & > i {
      position: absolute;
      width: 90%;
      height: 2px;
      background-color: var(--color-font);
      border-radius: 100vh;
      transform-origin: left;
      transition: transform @tr-fast, opacity @tr-fast;
      will-change: transform, opacity;

      &:nth-child(1) {
        top: 7px;
      }

      &:nth-child(3) {
        bottom: 7px;
      }
    }

    &--open > i {
      &:nth-child(1) {
        transform: rotate(45deg) scaleX(0.74);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) scaleX(0.74);
      }
    }
  }

  &__logo {
    width: 30px;
    height: 25px;
    object-fit: contain;
    object-position: center;
  }

  &__tel {
    display: none;

    .adaptive(@screen-md; {
      display: inline-block;
    });
  }
}