/*
 *
 * Третий экран
 * Продукция
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.productions {
  display: flex;
  position: fixed;
  left: 0; top: 0;

  &--styles {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: ~'calc(100vh - 80px)';
    z-index: 2;

    .adaptive(@screen-lg; {
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      padding: 100px 12px 0;
    });
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 50%;
    max-width: 45%;
    height: 100%;
    padding: 20px;

    &--max-width-50 {
      max-width: 50%;

      .adaptive(@screen-lg; {
        max-width: 100%;
      });
    }
  }

  &__logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    margin-top: 30px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 32%;
      height: 32%;
      margin-bottom: 30px;

      &:hover {
        animation: hoverLink 0.7s;
        animation-iteration-count: 1;
      }

      .adaptive(@screen-sm; {
        width: 100%;
      });
    }

    &_icon {
      width: 15vh;
      height: 15vh;
      object-fit: contain;
      object-position: center;
      margin-bottom: 10px;
    }

    .adaptive(@screen-sm; {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
    });
  }
}

@keyframes hoverLink {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1) rotate(0);
  }
  25% {
    transform: scale(1.1) rotate(2.5deg);
  }
  30% {
    transform: scale(1.1) rotate(0);
  }
  35% {
    transform: scale(1.1) rotate(-2.5deg);
  }
  40% {
    transform: scale(1.1) rotate(0);
  }
  45% {
    transform: scale(1.1) rotate(2.5deg);
  }
  50% {
    transform: scale(1.1) rotate(0);
  }
  55% {
    transform: scale(1.1) rotate(-2.5deg);
  }
  60% {
    transform: scale(1.1) rotate(0);
  }
  65% {
    transform: scale(1.1) rotate(2.5deg);
  }
  70% {
    transform: scale(1.1) rotate(0);
  }
  75% {
    transform: scale(1.1) rotate(-2.5deg);
  }
  80% {
    transform: scale(1.1) rotate(0);
  }
  100% {
    transform: scale(1);
  }
}