/*
 *
 * Первый экран
 * Логотип и слоган
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.promo {
  position: fixed;
  display: flex;
  left: 0; top: 0;

  &--styles {
    width: 100%;
    height: ~'calc(100vh - 80px)';
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    .adaptive(@screen-lg; {
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      padding: 160px 12px 0;
    });

    .adaptive(@screen-sm; {
      padding-top: 100px;
    });
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 50%;
    max-width: 44%;

    .adaptive(@screen-md; {
      max-width: 100%;
    });
  }

  &__logo {
    width: 350px;
    height: 350px;
    object-fit: contain;
    object-position: center;

    .adaptive(@screen-md; {
      padding: 12px;
      width: 100%;
      height: auto;
      max-height: 350px;
    });
  }

  &__slogan {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 280px;
    margin-top: 30px;

    &_text {
      font-size: 18px;

      &--align-self-end {
        align-self: flex-end;
      }
    }
  }
}