/*
 *
 * Шестой экран
 * Отзывы
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.reviews {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;

  &--styles {
    width: 100%;
    height: ~'calc(100vh - 80px)';
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    .adaptive(@screen-lg; {
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      padding: 100px 12px 0;
    });
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 50%;
    max-width: 45%;
    height: 100%;
    padding: 44px 12px;

    &--max-width-48 {
      max-width: 48%;

      .adaptive(@screen-lg; {
        max-width: 100%;
      });
    }

    .adaptive(@screen-lg; {
      max-width: 100%;
      width: 100%;
      padding: 44px 0 0;
    });
  }

  &__logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    margin-top: 30px;
  }

  &__list {
    width: 90%;
    max-height: 400px;
    margin-top: 40px;
    background-color: var(--color-white-background);
    border: 3px solid var(--color-border);
    border-radius: 20px;
    padding: 20px;
    overflow: auto;

    .ie({
      border: 3px solid @color-border;
    });

    .adaptive(@screen-lg; {
      width: 100%;
    });
  }

  &__review {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 12px;
    background-color: var(--color-white);
    border: 2px solid var(--color-border);
    border-radius: 20px;

    .ie({
      background-color: @color-white;
      border: 2px solid @color-border;
    });

    & + & {
      margin-top: 20px;
    }

    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-border);
      margin-bottom: 20px;

      .ie({
        border-bottom: 1px solid @color-border;
      })
    }

    &_info {
      font-weight: 500;
      font-size: 18px;
    }

    &_answer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 40px;
    }
  }

  &__link {
    color: var(--color-font);

    .ie({
      color: @color-font;
    });

    &:hover {
      text-decoration: underline;
    }
  }

  &__form {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    overflow: auto;

    .adaptive(@screen-lg; {
      max-width: 100%;
      max-height: inherit;
    });
  }
}