/*
 *
 * Видео в фоне на главной странице
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.video {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;

  &--styles {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity @tr-medium;

    .adaptive(@screen-lg; {
      display: none;
    });
  }

  &--hide {
    opacity: 0;
  }

  &__file {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}