/*
 *
 * Основой блок
 *
 */


@import './../common/mixins.less';
@import './../variables.less';

.buy-form {
  position: relative;
  display: flex;

  &--styles {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 650px;
    margin-top: 40px;

    & > * + * {
      margin-top: 20px;
    }
  }

  &__text {
    max-width: 650px;
    padding: 24px 12px;
  }
}
