/*
 *
 * Основой блок вакансий
 *
 */


@import './../common/mixins.less';
@import './../variables.less';

.job {

  &--styles {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
  }

  &__paragraph {

    & + & {
      margin-top: 5px;
    }

    &--margin-bottom-20 {
      margin-bottom: 20px;
    }
  }

  &__link {
    color: var(--color-font);

    .ie({
      color: @color-font;
    });

    &:hover {
      text-decoration: underline;
    }
  }
}