/*
 *
 * Основные стили проекта
 *
 */

@import './fonts.less';
@import './variables.less';
@import './common/mixins.less';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.body {
  // Цвета
  --color-background: @color-background;
  --color-dark: @color-dark;
  --color-black: @color-black;
  --color-white: @color-white;
  --color-white-background: @color-white-background;
  --color-white-dark: @color-white-dark;
  --color-font: @color-font;
  --color-border: @color-border;
  --color-red: @color-red;
  --color-pink: @color-pink;
  --color-shadow: @color-shadow;

    // Размер контента
  --screen-width: @screen-bg;

  // Шрифт
  --font: @font;

  // Скругление
  --block-border-radius: @block-border-radius;

  font-family: var(--font);
  font-weight: normal;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
  width: 100%;
  overflow-x: hidden;
  color: var(--color-dark);

  &--overflow {
    overflow: hidden;
  }

  .ie({
    background-color: @color-background;
    color: @color-dark;
    font-family: @font;
  });

  // Адаптив контента
  .adaptive(@screen-bg; {
    --screen-width: 100%;
  });
}

input:focus,
button:focus,
textarea:focus {
  outline: var(--color-border) solid 1px;
  outline-offset: 0;

  .ie({
    outline: @color-border solid 1px;
  });
}

.h0 {
  font-size: 48px;
  font-weight: normal;
  line-height: 53px;
  letter-spacing: 1.2px;
  text-align: left;
  color: var(--color-font);

  .ie({
    color: @color-font;
  });

  &--underline {
    position: relative;
    text-align: center;
    margin: 40px 0 10px;

    &::after {
      content: '';
      position: absolute;
      left: 50%; bottom: -5px;
      width: 100%;
      height: 2px;
      min-width: 250px;
      transform: translateX(-50%);
      background: @color-border-gradient;
    }
  }

  .adaptive(@screen-sm; {
    font-size: 38px;
    line-height: 43px;
  });
}

.h1 {
  font-size: 2.375rem;
  letter-spacing: 1.2px;
  text-align: center;
  color: var(--color-font);
  font-weight: normal;

  .ie({
    color: @color-font;
  });

  .adaptive(@screen-sm; {
    font-size: 32px;
    line-height: 37px;
  })
}

.h2 {
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 1.2px;
  font-weight: normal;
  text-align: left;
  color: var(--color-font);

  .ie({
    color: @color-font;
  });

  &--center {
    text-align: center;
  }
}

.h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.4px;
  color: var(--color-font);

  .ie({
    color: @color-font;
  });

  &--center {
    text-align: center;
  }
}

.h4 {
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  color: var(--color-font);
  font-weight: 500;
  margin-bottom: 5px;
  text-decoration: underline;

  .ie({
    color: @color-font;
  });
}

button,
input {
  font-family: var(--font);
  border: none;

  .ie({
    font-family: @font;
  });
}

a {
  text-decoration: none;
}

b {
  font-weight: 600;
}

ul {
  list-style: none;
}