/*
 *
 * Здесь собраны все переменные для проекта
 * (less)
 */

/* Colors */
@color-background:            #ffeed8;
@color-dark:                  #1B191C;
@color-black:                 #000000;
@color-white:                 #ffffff;
@color-white-background:      #fff4e6;
@color-white-dark:            #F5F6F7;
@color-font:                  #693f1c;
@color-border:                #c99937;
@color-red:                   #ee2510;
@color-pink:                  #ffe7e7;

@color-shadow:                rgba(0, 0, 0, .1);
@color-shadow-menu:           rgba(38, 38, 38, .8);
@color-border-gradient:       linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #c99937 50%, rgba(0, 0, 0, 0) 100%);

/* Screen and Grid */
@screen-xs:                   330px;
@screen-sm:                   770px;
@screen-md:                   990px;
@screen-lg:                   1270px;
@screen-bg:                   1430px;

/* Переходы */
@tr-fast:                     .1s;
@tr-medium:                   .2s;
@tr-low:                      .5s;

/* Скругление элементов */
@block-border-radius:          0;

/* Шрифт */
@font:                         'hleb', 'Roboto', Verdana, Arial, sans-serif;