/**
 *
 * Обычная форма
 *
 */

@import './../../common/mixins.less';
@import './../../variables.less';

.form {
  display: flex;

  &--styles {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1px;

    & > * + * {
      margin-top: 20px;
    }
  }
}