/**
 *
 * Стили для различных полей ввода
 *
 */

@import './../../common/mixins.less';
@import './../../variables.less';

.input {
  position: relative;

  &--styles {
    width: 100%;
  }

  &__text {
    width: 100%;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: var(--color-white);
    border: 2px solid var(--color-border);
    font-size: 16px;
    transition: background-color @tr-fast, border-color @tr-fast;

    .ie({
      background-color: @color-white;
      border: 2px solid @color-border;
    });
  }

  &__textarea {
    font-family: var(--font);
    min-height: 200px;
    resize: none;

    .ie({
      font-family: @font;
    });

    &--resize {

    }
  }

  &__label {
    display: inline-block;
    padding: 5px 20px;
    font-weight: 200;
    color: var(--color-font);

    .ie({
      color: @color-font;
    })
  }

  &__error {
    position: absolute;
    right: 20px;
    bottom: -1rem;
    font-size: 12px;
    color: var(--color-red);
    opacity: 0;
    visibility: hidden;
    transition: opacity @tr-fast, visibility @tr-fast;
    will-change: opacity, visibility;

    .ie({
      color: @color-red;
    });
  }

  &--error {

    & > .input__text {
      background-color: var(--color-pink);
      border: 2px solid var(--color-red);

      .ie({
        background-color: @color-pink;
        border: 2px solid @color-red;
      });
    }

    & > .input__error {
      opacity: 1;
      visibility: visible;
    }

  }

  // Файл

  &__file {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    &_item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 128px;
      height: 128px;
      max-width: 128px;
      max-height: 128px;
      border-radius: 10px;
      margin: 2px 10px 2px 0;
      padding: 5px;
      cursor: pointer;
      object-fit: contain;
      object-position: center;
      overflow: hidden;

      &--button {
        border: 2px solid var(--color-border);

        .ie({
          border: 2px solid @color-border;
        });
      }

      &--display-none {
        display: none;
      }

      &--img {
        cursor: pointer;
      }

      &--shadow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-font);
        opacity: 0;
        transition: opacity @tr-fast;

        .ie({
          background-color: @color-font;
        });

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 35px;
          height: 2px;
          border-radius: 100vh;
          background-color: var(--color-white);
          transform: rotate(45deg);
          z-index: 2;

          .ie({
            background-color: @color-white;
          })
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      &:hover > &--shadow {
        opacity: .5;
      }
    }

    &_text {
      text-align: center;
    }
  }
}