/**
 *
 * Стили для селекта одиночного выбора
 *
 */

@import './../../common/mixins.less';
@import './../../variables.less';

.select {
  display: inline-flex;
  position: relative;

  &--styles {
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    z-index: 2;
  }

  &__header {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background-color: var(--color-white);
    border: 2px solid var(--color-border);
    border-radius: 20px;
    transition: border-radius @tr-fast;

    .ie({
      background-color: @color-white;
      border: 1px solid @color-border;
    });

    &--min {
      justify-content: flex-start;
      height: 40px;
      border-radius: 20px;
    }

    &--open {
      border-radius: 20px 20px 0 0;
    }
  }

  &__selected-value {
    min-width: 180px;
  }

  &__arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 20px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 1px;
      background-color: var(--color-font);
      transition: transform .1s;

      .ie({
        background-color: @color-font;
      });
    }

    &::before {
      transform: rotate(45deg) translate(-2px, 2px) scaleX(0.68);
    }

    &::after {
      transform: rotate(-45deg) translate(2px, 2px) scaleX(0.68);
    }

    &--open {
      &::before {
        transform: rotate(45deg) translate(0, 0) scaleX(1);
      }

      &::after {
        transform: rotate(-45deg) translate(0, 0) scaleX(1);
      }
    }
  }

  // Выпадающий список
  &__wrapper {
    position: absolute;
    left: 0; top: 100%;
    width: 100%;
    max-height: 270px;
    padding: 10px 0;
    background-color: var(--color-white);
    border: 2px solid var(--color-border);
    border-radius: 0 0 20px 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 0 rgba(99,114,130,0);
    transition:
            opacity .1s,
            visibility .1s,
            transform .1s,
            box-shadow .1s;

    .ie({
      background-color: @color-white;
      border: 1px solid @color-border;
    });

    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(-2px);
      box-shadow: 0 1px 4px rgba(99,114,130,0.15);
    }
  }

  &__option {
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .1s;

    &--selected {
      background-color: var(--color-white-background);
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: var(--color-background);
    }
  }

  // Мультиселект
  &__multi {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      margin: 2px 5px 2px 0;
      background-color: var(--color-background);
      border: 1px solid var(--color-border);
      border-radius: 5px;
      z-index: 2;

      .ie({
        background-color: @color-white-background;
        border: 1px solid @color-border;
      });
    }

    &_text {
      line-height: 20px;
    }

    &_cross {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: 10px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 2px;
        background-color: var(--color-red);
        border-radius: 100vh;
        transform: rotate(45deg);
        transition: transform @tr-fast;

        .ie({
          background-color: @color-red;
        });
      }

      &::after {
        transform: rotate(-45deg);
      }

      &:hover {
        &::before {
          transform: rotate(45deg) scale3d(1.2, 1.2, 1.2);
        }

        &::after {
          transform: rotate(-45deg) scale3d(1.2, 1.2, 1.2);
        }
      }
    }

    &_back {
      position: absolute;
      left: 0; top: 0;
      width: 100%;
      height: 100%;
    }
  }
}