/**
 *
 * Галерея продукции
 *
 */

.promo {
  display: flex;

  &--styles {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 12px;
  }

  &__gallery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    margin-bottom: 40px;

    &_img {
      width: 100%;
      object-fit: contain;
      object-position: center;
      margin-bottom: 20px;
    }

    &_title {
      font-size: 28px;
      line-height: 33px;
      text-align: center;
    }

    &_text {
      font-size: 18px;
      margin-top: 5px;
      text-align: center;
    }
  }
}
