/**
 *
 * Кнопка
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.button {
  display: inline-flex;

  &--styles {
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-border);
    border-radius: 100vh;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 50px;
    padding: 15px 35px;
    line-height: 100%;
    font-size: 16px;
    color: var(--color-dark);
    cursor: pointer;
    background-color: transparent;
    transition: background-color @tr-fast;

    .ie({
      border: 2px solid @color-border;
      color: @color-dark;
    });

    &:hover {
      background-color: var(--color-white-background);

      .ie({
        background-color: @color-white-background;
      });
    }

    & > .spinner {
      display: none;
    }

    & > span {
      display: inline-block;
    }
  }

  &--big {
    max-width: 250px;
    max-height: 85px;
    padding: 25px 45px;
    font-size: 20px;
  }

  &--hover-white:hover {
    background-color: var(--color-white);

    .ie({
      background-color: @color-white;
    });
  }

  &--load {
    & > .spinner {
      display: block;
    }

    & > span {
      display: none;
    }
  }

  &--margin-top-40 {
    margin-top: 40px;
  }

  &--center {
    align-self: center;
  }
}