/**
 *
 * Шапка сайта
 * (основная)
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.navigate {
  display: flex;
  position: fixed;
  left: 0; top: 0;

  &--styles {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 12px;
    background-color: var(--color-white-background);
    border-bottom: 3px solid var(--color-border);
    z-index: 100;

    .ie({
      background-color: @color-white-background;
      border-bottom: 3px solid @color-border;
    });
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    .adaptive(@screen-md; {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 40px;
      position: fixed;
      left: 0; top: 50px;
      background-color: var(--color-white-background);
      opacity: 0;
      visibility: hidden;
      transition: visibility @tr-fast, opacity @tr-fast;

      .ie({
        background-color: @color-white-background;
      });
    });

    &--open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__link {
    position: relative;
    color: var(--color-font);
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    .ie({
      color: @color-font;
    });

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: var(--color-border);
      transform-origin: left;
      transform: scaleX(0);
      transition: transform @tr-medium;
      will-change: transform;

      .ie({
        background-color: @color-border;
      });
    }

    &--active::before {
      transform: scaleX(1);
    }

    &:hover::before {
      transform: scaleX(1);
    }

    &--no-underline::before {
      display: none;
    }

    .adaptive(@screen-md; {
      margin-bottom: 20px;
    });
  }

  &__button {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;

    .adaptive(@screen-md; {
      display: flex;
    });

    & > i {
      position: absolute;
      width: 90%;
      height: 2px;
      background-color: var(--color-font);
      border-radius: 100vh;
      transform-origin: left;
      transition: transform @tr-fast, opacity @tr-fast;
      will-change: transform, opacity;

      .ie({
        background-color: @color-font;
      });

      &:nth-child(1) {
        top: 7px;
      }

      &:nth-child(3) {
        bottom: 7px;
      }
    }

    &--open > i {
      &:nth-child(1) {
        transform: rotate(45deg) scaleX(0.74);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) scaleX(0.74);
      }
    }
  }

  &__logo {
    width: 30px;
    height: 25px;
    object-fit: contain;
    object-position: center;
  }

  &__tel {
    display: none;
    color: var(--color-font);

    .ie({
      color: @color-font;
    });

    &:hover {
      text-decoration: underline;
    }

    .adaptive(@screen-md; {
      display: inline-block;
    });
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -21px;
    top: ~'calc(100% + 14px)';
    width: 200px;
    background-color: var(--color-white-background);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    border: 2px solid var(--color-border);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity @tr-fast @tr-medium, visibility @tr-fast @tr-medium;

    .ie({
      background-color: @color-white-background;
      border: 2px solid @color-border;
    });

    &_link {
      display: inline-block;
      text-transform: none;

      .adaptive(@screen-md; {
        margin-bottom: 0;
      });
    }

    & > * + * {
      margin-top: 15px;
    }

    .adaptive(@screen-md; {
      align-items: center;
      left: 50%;
      transform: translateX(-50%);
    });
  }

  &__link:hover > &__inner {
    opacity: 1;
    visibility: visible;
    transition: opacity @tr-fast, visibility @tr-fast;
  }
}