/*
 *
 * Миксины проекта
 *
 */

// Адаптивность / горизонталь
.adaptive( @width; @rules ) {
  @media screen and (max-width: @width) { @rules(); };
}

// Адаптивность / горизонталь
.adaptive-height( @height; @rules ) {
  @media screen and (max-height: @height) { @rules(); };
}

// Хак для IE
.ie(@rules) {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { @rules(); };
}
