/**
 *
 * Уведомления
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.notify {
  display: flex;
  position: fixed;

  &--styles {
    flex-direction: column;
    align-items: center;
    left: 0; top: 0;
    width: 100%;
    z-index: 1000;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 95%;
    height: 70px;
    max-width: 800px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--color-white-background);
    border: 2px solid var(--color-border);
    box-shadow: 0 3px 28px var(--color-shadow);
    transform: translate3d(0, -200%, 0);
    transition: transform @tr-low;

    .ie({
      background-color: @color-white-background;
      border: 2px solid @color-border;
      box-shadow: 0 3px 28px @color-shadow;
    });
  }

  &__close {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform @tr-fast;

    & > i {
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 100vh;
      background-color: var(--color-font);

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      transform: rotate(90deg);
    }
  }
}