.progressive {
    position:relative;
    display:block;
    overflow:hidden;
    outline:none;
}

.progressive img{
    display:block;
    width:100%;
    max-width:none;
    height:auto;
    border:0
}

.progressive img.preview{
    filter:blur(2vw);
    transform:scale(1.05)
}

.progressive img.reveal{
    position:absolute;
    left:0; top:0;
    animation:progressiveReveal 1s linear;
}

@keyframes progressiveReveal{
    0% {
        transform:scale(1.05); opacity:0
    }
    to {
        transform:scale(1); opacity:1
    }
}
