/*
 *
 * Простой слайдер
 *
 */
@import './../common/mixins.less';
@import './../variables.less';


.js-simple-slider {

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    &--padding-right-30 {
      padding-right: 30px;
    }

    .adaptive(@screen-lg; {
      display: flex;
      align-items: center;
      justify-content: center;
    });
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity @tr-low;

    &--position-right {
      left: auto;
      right: 0;

      .adaptive(@screen-lg; {
        left: auto;
        right: auto;
      });
    }

    &--active {
      opacity: 1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
  }
}