.spinner {
  display: flex;

  &--styles {
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
  }

  & > svg {
    object-position: center;
    object-fit: contain;
  }
  
  &--animated {
    animation: rotation 2s linear 0s infinite;
    margin: 40px 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}