/**
 *
 * Форма оплаты
 *
 */

.buy {
  display: flex;

  &--styles {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 12px;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;

    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 650px;

      & > * + * {
        margin-top: 20px;
      }
    }

    &_description {
      width: 100%;
      margin-top: 34px;
    }

    &_link {
      color: var(--color-font);

      .ie({
        color: @color-font;
      });

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
