/**
 *
 * Составляющие торта
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.faq {
  display: flex;

  &--styles {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 12px 40px;
    margin-top: 100px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__checkbox {
    display: none;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;

    &--mini {
      padding-bottom: 10px;
    }

    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 30px 20px;

      &--mini {
        padding: 10px 20px;
      }
    }

    &_arrow {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-left: 20px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 74%;
        height: 2px;
        background-color: var(--color-border);
        transition: transform @tr-fast;

        .ie({
          background-color: @color-border;
        });
      }

      &::before {
        transform: rotate(45deg) translate(-2px, 2px) scaleX(0.68);
      }

      &::after {
        transform: rotate(-45deg) translate(2px, 2px) scaleX(0.68);
      }
    }

    & + & {
      &::before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 1px;
        background: @color-border-gradient;
      }
    }
  }

  &__label {
    font-size: 20px;
    color: var(--color-font);

    &--mini {
      font-size: 16px;
    }
  }

  &__info {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height @tr-medium, padding @tr-medium;
    will-change: max-height, padding;
  }

  &__checkbox:checked ~ &__info {
    max-height: 600px;
    padding: 0 20px 30px;
  }

  &__checkbox:checked ~ &__wrapper_header > &__wrapper_arrow {
    &::before {
      transform: rotate(45deg) translate(0, 0) scaleX(1);
    }

    &::after {
      transform: rotate(-45deg) translate(0, 0) scaleX(1);
    }
  }
}