/**
 *
 * Галерея тортов на странице заказа дизайнерского торта
 *
 */

.gallery {
  display: flex;

  &--styles {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 12px;
    margin-bottom: 100px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
  }

  &__item {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
  }
}