/**
 *
 * Первая секция в заказных тортах
 *
 */

@import './../common/mixins.less';
@import './../variables.less';

.promo {
  display: flex;

  &--styles {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 12px 0;
  }

  &__slogan {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 310px;
    margin-top: 10px;

    &_text {
      font-size: 18px;

      &--align-self-end {
        align-self: flex-end;
      }

      &--center {
        text-align: center;
      }

      .adaptive(@screen-sm; {
        font-size: 16px;
      });
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vw;
    padding: 20px;
    max-width: 600px;
    max-height: 600px;

    &_img {
      max-height: 100%;
      max-width: 100%;
    }

    .adaptive(@screen-lg; {
      order: 2;
      margin: 20px 0;
    });

    .adaptive(@screen-sm; {
      width: 100vw;
      height: 100vw;
    });
  }
}